# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
packages/
*.snupkg

# Resharper
_ReSharper*/
*.DotSettings.user

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular
dist/
node_modules/
tmp/
temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
*.sqlite
*.sqlite3
