<div class="w-full h-full border-r-1 border-solid border-theme-border" style="background: #f1f5f9">
	<div class="h-55 w-full px-15 border-b-1 border-solid border-theme-border flex flex-no-wrap gap-10 items-center">
		<img src="https://api.dicebear.com/8.x/thumbs/svg" class="w-30 h-30 rounded-full">

		<div>
			<p class="display-block m-0 font-medium mb-5">John Doe</p>
			<p class="display-block m-0 text-sm text-gray-800">Administrador</p>
		</div>
	</div>

	<div class="w-full px-10 py-10">
		<a routerLink="tickets" routerLinkActive="active text-black" class="w-full mb-5 flex flex-no-wrap rounded-sm px-7 py-7 text-gray-800 hover:text-black display-block item-menu">
			<div class="w-20">
				<span nz-icon nzType="file-done" class="display-block m-0" nzTheme="outline" class="text-pink-600"></span>
			</div>
			Tickets
		</a>

		<a routerLink="usuarios" routerLinkActive="active text-black" class="w-full mb-5 flex flex-no-wrap rounded-sm px-7 py-7 text-gray-800 hover:text-black display-block item-menu">
			<div class="w-20">
				<span nz-icon nzType="user" class="display-block m-0" nzTheme="outline" class="text-green-900"></span>
			</div>
			Usuarios
		</a>

		<a routerLink="configuracion" routerLinkActive="active text-black" class="w-full mb-5 flex flex-no-wrap rounded-sm px-7 py-7 text-gray-800 hover:text-black display-block item-menu">
			<div class="w-20">
				<span nz-icon nzType="setting" class="display-block m-0" nzTheme="outline" class="text-lightblue-600"></span>
			</div>
			Configuración
		</a>
	</div>
</div>
